#Files
WailaErrorOutput.txt
**/*.dat
**/*.dat_old
options.txt
.curseclient
usercache.json
usernamecache.json
#Repository
mods/
defaultconfigs/
downloads/
logs/
saves/
local/
resourcepacks/
shaderpacks/